/* universal tags */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Montserrat', sans-serif;
}

.container {
    max-width: auto;
    /* margin-inline: auto; */
}

.flex {
    display: flex;
    align-items: center;

}

/* header  */

header {
    background-color: #125784;
}

.header {
    justify-content: space-between;
}

.header img {
    width: 70px;
}

.links,
.links a {
    color: white;
    text-decoration: none;
    word-spacing: 11px;
    margin-right: 19px;
    align-items: center;
}

a:hover {
    color: red;
}

.text-box {
    width: 220px;
    height: 28px;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 16px;
    font-family: Arial, sans-serif;
}

/* main part  */

.main-title {

    height: 50vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)), url(../img/img1.jpg);
    background-size: cover;


    background-repeat: no-repeat;
}

.main-title {
    display: flex;
    font-weight: 700;
    align-items: center;
    justify-content: center;

    color: white;
}






.flex-con {
    display: flex;
    max-width: fit-content;
    justify-content: space-between;
    flex-wrap: wrap;

}

.text {
    background-color: #f57f17;
    color: white;
    float: left;
    padding: 65px;
    width: 1234px;
    flex: 2 1 auto;

}


.img-2 img {
    float: right;
    height: 285px;
}

.flex-img {
    flex-wrap: wrap;
}

.flex-img img {
    width: 506px;
}



/* form  */
.formm {
    background-color: #5e35b1;
    justify-content: center;

}

.form {

    color: white;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    justify-content: center;
    align-items: center;

}

input[type=text],
input[type=email],
input[type=password],
input[type=submit],
#comments {
    font-size: 15px;
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    resize: vertical;
}


input[type=submit]{
cursor: pointer;
}


::placeholder {
    color: black;

}

/* footer  */

footer {
    background-color: black;
    color: white;
}

footer img {
    width: 70px;
}

.ftr-txt {
    margin-left: 30px;
    padding: 20px;
}


/* Responsive  */

@media screen and (max-width: 800px) {
    header {
        display: block;
        align-items: center;
    }

    .flex-con {
        display: flex;
        max-width: fit-content;
        justify-content: space-between;
        flex-wrap: wrap;

    }

    .text {
        background-color: #f57f17;
        color: white;
        float: left;
        padding: 65px;
        width: 1211px;
        flex: 2 1 auto;

    }


    .img-2 img {
        float: right;
        height: 285px;
    }

}