/* universal */

* {
    box-sizing: border-box;

}

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    /* background-image: linear-gradient(to bottom right, #ffffff, #e0e0e0); */
    padding: 0;

}

header {
    /* background-color: #000; */
    background-color: #fff;


    box-shadow: 0 .1rem 1rem .25rem rgba(0, 0, 0, .05) !important;
    z-index: 5;
    padding: 20px;
    position: fixed;
    width: 100%;
}

.flex {
    display: flex;
}


.container {
    max-width: 1180px;
    margin-inline: auto;
}


/* header styling  */
.header {
    justify-content: space-between;
    align-items: center;
}

.header img {
    width: 48px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav a {
    color: #000;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;

    margin: 0 17px;
}

nav a:hover {
    color: #5e5df0;
    transition: color .2s ease;
}





/* main part styling  */
.tagline {

    background-position: center;
    background-size: cover;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.tagline h2 {
    font-size: 30px;
}

.founder {
    border: #000 solid 2px;
    border-radius: 20px;
    padding: 2px;
    background-color: #dcf7f0;
}

.founder img {
    float: left;
    padding: 5px;
}




.facts p {
    font-size: 25px;
    font-weight: 800;
    margin-top: 50px;
}

.facts li {
    font-size: 18px;
}


.recordss {
    font-size: 25px;
    font-weight: 800;
    margin-top: 50px;
    font-family: 'Inter', sans-serif !important;
    color: #000 !important;

}



/* solvers */

.records {
    font-family: 'Droid Serif', serif;
    font-size: 14px;
    color: #2f2f2f;
    text-align: center;

}

.head {
    text-align: center;
    position: relative;


}



.subhead {
    text-transform: uppercase;
    border-bottom: 2px solid #2f2f2f;
    border-top: 2px solid #2f2f2f;
    padding: 12px 0 12px 0;

}

.weatherforcastbox {
    position: relative;
    width: 12%;
    left: 10px;
    border: 3px double #2f2f2f;
    padding: 10px 15px 10px 15px;
    line-height: 20px;
    display: inline-block;
    margin: 0 50px 20px -360px;
}

.content {
    font-size: 0;
    line-height: 0;
    word-spacing: -.31em;
    display: inline-block;
    margin: 30px 2% 0 2%;


}


.collumn {
    font-size: 14px;
    line-height: 20px;
    width: 17.5%;
    display: inline-block;
    padding: 0 1% 0 1%;
    vertical-align: top;
    margin-bottom: 50px;
    transition: all .7s;
}

.collumn+.collumn {
    border-left: 1px solid #2f2f2f;
}

.collumn .headline {
    text-align: center;
    line-height: normal;
    font-family: 'Playfair Display', serif;
    display: block;
    margin: 0 auto;


}

.collumn .headline.hl1 {
    font-weight: 700;
    font-size: 30px;
    text-transform: uppercase;
    padding: 10px 0 10px 0;

}

.collumn .headline.hl2 {
    font-weight: 400;
    font-style: italic;
    font-size: 24px;
    box-sizing: border-box;
    padding: 10px 0 10px 0;
}

.collumn .headline.hl2:before {
    border-top: 1px solid #2f2f2f;
    content: '';
    width: 100px;
    height: 7px;
    display: block;
    margin: 0 auto;
}

.collumn .headline.hl2:after {
    border-bottom: 1px solid #2f2f2f;
    content: '';
    width: 100px;
    height: 13px;
    display: block;
    margin: 0 auto;

}

.collumn .headline.hl3 {
    font-weight: 400;
    font-style: italic;
    font-size: 36px;
    box-sizing: border-box;
    padding: 10px 0 10px 0;
}

.collumn .headline.hl4 {
    font-weight: 700;
    font-size: 12px;
    box-sizing: border-box;
    padding: 10px 0 10px 0;
}

.collumn .headline.hl4:before {
    border-top: 1px solid #2f2f2f;
    content: '';
    width: 100px;
    height: 7px;
    display: block;
    margin: 0 auto;
}

.collumn .headline.hl4:after {
    border-bottom: 1px solid #2f2f2f;
    content: '';
    width: 100px;
    height: 10px;
    display: block;
    margin: 0 auto;

}

.collumn .headline.hl5 {
    font-weight: 400;
    font-size: 42px;
    text-transform: uppercase;
    font-style: italic;
    box-sizing: border-box;
    padding: 10px 0 10px 0;
}

.collumn .headline.hl6 {
    font-weight: 400;
    font-size: 18px;
    box-sizing: border-box;
    padding: 10px 0 10px 0;
}

.collumn .headline.hl6:before {
    border-top: 1px solid #2f2f2f;
    content: '';
    width: 100px;
    height: 7px;
    display: block;
    margin: 0 auto;
}

.collumn .headline.hl6:after {
    border-bottom: 1px solid #2f2f2f;
    content: '';
    width: 100px;
    height: 10px;
    display: block;
    margin: 0 auto;

}

.collumn .headline.hl7 {
    font-weight: 700;
    font-size: 12px;
    box-sizing: border-box;
    display: block;
    padding: 10px 0 10px 0;
}

.collumn .headline.hl8 {
    font-weight: 700;
    font-size: 12px;
    box-sizing: border-box;
    padding: 10px 0 10px 0;
}

.collumn .headline.hl9 {
    font-weight: 700;
    font-size: 12px;
    box-sizing: border-box;
    padding: 10px 0 10px 0;
}

.collumn .headline.hl10 {
    font-weight: 700;
    font-size: 12px;
    box-sizing: border-box;
    padding: 10px 0 10px 0;
}

.collumn .citation {
    font-family: 'Playfair Display', serif;
    font-size: 36px;
    line-height: 44px;
    /*font-style: italic;*/
    text-align: center;
    font-weight: 400;
    display: block;
    margin: 40px 0 40px 0;
    font-feature-settings: "liga", "dlig";

}

.collumn .citation:before {
    border-top: 1px solid #2f2f2f;
    content: '';
    width: 100px;
    height: 16px;
    display: block;
    margin: 0 auto;
}

.collumn .citation:after {
    border-bottom: 1px solid #2f2f2f;
    content: '';
    width: 100px;
    height: 16px;
    display: block;
    margin: 0 auto;
}

.collumn .figure {
    margin: 0 0 20px;
}

.collumn .figcaption {
    font-style: italic;
    font-size: 12px;
}

.media {
    -webkit-filter: sepia(80%) contrast(1) opacity(0.8);
    filter: sepia(80%) grayscale(1) contrast(1) opacity(0.8);
    mix-blend-mode: multiply;
    width: 100%;
}



/*Media to make it responsive*/
@media only all and (max-width: 1300px) {
    .weatherforcastbox {
        display: none;
    }

}

@media only all and (max-width: 1200px) {
    .collumn {
        width: 31%;
    }

}

@media only all and (max-width: 900px) {
    .collumn {
        width: 47%;
    }

}

@media only all and (max-width: 600px) {
    .collumn {
        width: 100%;
    }

    .collumn+.collumn {
        border-left: none;
        border-bottom: 1px solid #2f2f2f;
    }

    header {
        max-width: 320px;
        font-size: 60px;
        line-height: 54px;
        overflow: hidden;
    }

}
























/* footer */
footer {
    background-color: #333;
    color: #fff;
    padding: 3rem 0;
    font-size: 1.2rem;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

.row {
    display: flex;
    justify-content: space-between;
}

.col {
    flex-basis: calc(33.33% - 1.5rem);
}

.col ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.col ul li {
    margin-bottom: 1rem;
}

.col ul li a {
    color: #fff;
    text-decoration: none;
}

.col h3 {
    margin-bottom: 1rem;
}

form {
    display: flex;
}

input[type="email"] {
    flex-grow: 1;
    padding: 0.5rem;
    margin-right: 1rem;
    border-radius: 4px;
    border: none;
}

button[type="submit"] {
    background-color: #fff;
    color: #333;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

.credit {
    text-align: center;
    margin-top: 2rem;
}


.triangle {
    display: inline-block;
    margin-left: 5px;
    transition: transform 0.3s ease-in-out;
}

.triangle.rotate {
    transform: rotate(180deg);
}