/* universal */


* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  /* background-image: linear-gradient(to bottom right, #ffffff, #e0e0e0); */


}


/* header styling  */
header {
  /* background-color: #000; */
  background-color: #fff;


  box-shadow: 0 .1rem 1rem .25rem rgba(0, 0, 0, .05) !important;

  padding: 20px;
  position: fixed;
  width: 100%;
}

.flex {
  display: flex;
}


.container {
  max-width: 1180px;
  margin-inline: auto;
}



.header {
  justify-content: space-between;
  align-items: center;
}

.header img {
  width: 48px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  margin-right: 20px;
}

nav a {
  color: #000;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;

  margin: 0 17px;
}

nav a:hover {
  color: #5e5df0;
  transition: color .2s ease;
}


/* main part styling  */
.heading {

  background-position: center;
  background-size: cover;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

}

.heading h1 {
  font-size: 50px;

  text-align: center;

  margin: 0;
}

.heading p {
  font-size: 24px;
  color: #535353;
  text-align: center;
  margin: 20px 0 0 0;
}

.welcomee {
  font-size: 20px !important;
}



.btn {
  display: inline-block;
  /* background: #5e5df0; */
  background: linear-gradient(to right, #9d50bb, #5e5df0);
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 50px;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  margin-top: 20px;
}

.btn:hover {
  transition: .2s linear;
  background: linear-gradient(to right, #5e5df0, #9d50bb);

}





.content {
  flex: 1;
  padding: 1rem;
  font-size: 20px;

}

.content a {
  color: #000;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;

}

.content a:hover {
  color: #5e5df0;
  transition: color .5s ease;
}

.image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  width: 200px;
  height: auto;
}




#solve-cube {

  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 6rem 1rem;
}


#solve-cube .video {
  flex-basis: 50%;
}

#solve-cube .video iframe {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


.solve {
  text-align: center;
  margin-top: 70px;
}

.solve a {
  color: #000;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;

}

.solve a:hover {
  color: #5e5df0;
  transition: color .5s ease;
}

.solve p {
  font-style: italic;
  color: #535353;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}





/* footer */


footer {
  background-color: #333;
  color: #fff;
  padding: 3rem 0;
  font-size: 1.2rem;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  flex-wrap: wrap;
  padding: 0 1rem;
}

.row {
  display: flex;
  justify-content: space-between;
}

.col {
  flex-basis: calc(33.33% - 1.5rem);
}

.col ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.col ul li {
  margin-bottom: 1rem;
}

.col ul li a {
  color: #fff;
  text-decoration: none;
}

.col h3 {
  margin-bottom: 1rem;
}

form {
  display: flex;
}

input[type="email"] {
  flex-grow: 1;
  padding: 0.5rem;
  margin-right: 1rem;
  border-radius: 4px;
  border: none;
}

button[type="submit"] {
  background-color: #fff;
  color: #333;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.credit {
  text-align: center;
  margin-top: 2rem;
}


.triangle {
  display: inline-block;
  margin-left: 5px;
  transition: transform 0.3s ease-in-out;
}

.triangle.rotate {
  transform: rotate(180deg);
}